<div class="bokking-detail-mian">
  <div class="map">
    <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
      <map-marker *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title" [options]="marker.options" (mapClick)="MarkerClick(marker)" >
  </map-marker>
    </google-map>
  </div>

  <div class="booking-title">
    <h4>Booking Details:</h4>
  </div>
  <div class="row modal-booking">
    <div class="col-md-4">
      <div class="booking-info">
        <h6>Name:</h6>
        <p>{{ data.name }}</p>
      </div>
      <div class="booking-info mt-3">
        <h6>Start:</h6>
        <p>{{ data.end | date : "MMM dd, yyyy h:mm a" }}</p>
      </div>

      <div class="booking-info mt-3">
        <h6>Pickup:</h6>
        <p>{{ data.pickup }}</p>
      </div>
      <div class="booking-info mt-3">
        <h6>Booking Type:</h6>
        <p>{{ data.isDropOff ? 'Fixed' : 'Rental' }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking-info">
        <h6>Contact:</h6>
        <p>{{ data.contactNumber }}</p>
      </div>
      <div class="booking-info mt-3">
        <h6>End:</h6>
        <p>{{ data.end | date : "MMM dd, yyyy h:mm a" }}</p>
      </div>

      <div class="booking-info mt-3">
        <h6>Drop-off:</h6>
        <p>{{ data.dropOff ?? '-' }}</p>
      </div>
      <div class="booking-info mt-3">
        <h6>Price</h6>
        <p>€ {{ data.price | number : "0.2-2" }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="booking-info">
        <h6>Email:</h6>
        <p>{{ data.email }}</p>
      </div>
      <div class="booking-info mt-9">
        <h6>Vehicle Type:</h6>
        <p>{{ data.vehicleType.name }}</p>
      </div>
    </div>
  </div>

</div>
