.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 400px;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  text-align: center;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#917542, #ebac38);
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: black;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #ebac38;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}
.service-card:hover .icon-wrapper {
  background-color: white !important;
  color: #ebac38 !important;
}
// .service-card .icon-wrapper {
//   background-color: #ffffff;
//   color: #ebac38;
// }

.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: black;
}

.advertisers-service-sec .service-card:hover h3 {
  color: black;
}
.service-card p {
  line-height: 1.43 !important;
  font-weight: 400 !important;
  color: black !important;
}

.card-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  .card-image-icon {
    background: #edae27;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 1px #7d7a68;
    .fa-plane {
      transform: rotate(-26deg);
    }
    i {
      font-size: 2rem;
      color: black;
    }
  }
  .card-body {
    text-align: center;
  }
}

.fixed-width {
  margin: 15px 20px;
}
.form-detail {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.slide-1 {
  background-image: url(../../../../assets/images/slider-1.png);
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url(../../../../assets/images/mini-bus.jpg);
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url(../../../../assets/images/mercedeze.jpg);
  background-repeat: no-repeat;
}

.carousel-item {
  height: 90vh;
  position: relative;
  background-repeat: no-repeat;
  max-width: 100% !important;
  min-width: 100% !important;
  background-position: center;
  background-size: cover;
}

.main_form {
  color: aliceblue;
  // z-index: 99999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-detail {
  h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
  }

  p {
    font-size: 20px;
    font-style: normal;
    margin-top: 14px;
    font-weight: 500;
    line-height: 29.2px;
  }
}

.buttons {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

.booking-forms {
  /* From https://css.glass */
  background: rgba(58, 58, 58, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(58, 58, 58, 0.3);
  border-radius: 28px;
  border: 1px solid #fff;
  width: 542px;
  margin: 0 auto;
  padding: 30px 45px 19px 44px;

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    border-radius: 5px;
    background: #010101;
    color: white;
  }

  li {
    margin: 0 10px 0 0;
    margin-left: 0;

    button {
      border-radius: 5px;
      border: 1px solid #696969;
      display: flex;
      color: #696969;
      font-size: 16px;
      font-weight: 600;
      width: 201px;
      padding: 18px 44.344px 19px 45px;
      justify-content: center;
      align-items: center;
      border: none;
      background: #232323;
    }
  }
}

.buttons button:hover:after,
.buttons button:hover:before {
  width: 100% !important;
}

.margin-top {
  margin-top: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  position: absolute;
  left: 0;
}

.date-input {
  position: relative;

  input {
    padding-left: 25px;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    position: absolute;
    left: -10px;
  }
}

.inner-container {
  width: 96%;
  margin: 0 auto;
}

.vehicle-image {
  position: relative;
  margin: 64px 0;
  position: relative;
  margin-top: 64px;
  margin-bottom: 64px;

  // height: 50rem;
  // width: 39rem;
  img {
    // height: 100%;
    // width: 100%;
    // object-fit: cover;
    border-radius: 10px;
  }
}

.vehicle-image-detail {
  h4 {
    color: #eeb000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    color: #010101;
    font-size: 64px;
    font-weight: 700;
    line-height: 105.9%;
  }

  p {
    font-size: 21px;
    font-style: normal;
    margin-top: 25px;
    color: #52575c;
  }
}

.moments {
  background-image: url(../../../../assets/images/moment.png);
  height: 300px;
  display: flex;
  align-items: center;

  h3 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    width: 45%;
    color: #fff;
  }
}

.why-chose {
  p {
    width: 80%;
  }
}

.why-chose-img {
  //   width: 596px;
  // height: 721px;
  margin: 64px auto;
}

.Our-Services {
  .card-title {
    color: #010101;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    color: #52575c;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
  }

  //   .card-image{
  //     width: 555px;
  //     height: 480px;
  // img{
  //   height: 100%;
  //   width: 100%;
  // }
  //   }
}

::ng-deep {
  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #ffe7ac;

    height: 13px;
    width: 13px;
    border-radius: 50%;
  }
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #edae27;
  }
  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
  }
}
.testi-sec {
  position: relative;
}
.title {
  p {
    color: black;
    z-index: 999999;
    position: relative;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.5;
  }
}
.testimonial-card {
  border-radius: 54px;
  background: #fff6de;
  padding: 25px 20px;
  border: 3px dashed #000;
  text-align: center;
  position: relative;
  margin: 0 10px;

  p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

  h4 {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: normal;
    margin-top: 20px;
    text-align: center;
  }

  h5 {
    color: #000;
    font-size: 15px;
    margin-bottom: 45px;
    margin-top: 4px;
  }
}

.user-body {
  width: 125px;
  background: #ffe9af;
  border-radius: 50%;
  height: 125px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.testi-sec {
  ::ng-deep {
    .owl-stage-outer {
      padding-bottom: 10rem;
    }

    .owl-theme .owl-dots .owl-dot span {
      height: 15px;
      width: 15px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: #eeb000;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) {
  .vehicle-image {
    margin: 30px 0;
    height: auto;
    width: auto;
  }

  .vehicle-image-detail {
    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    h4 {
      font-size: 1.9rem;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-top: 25px;
    }
  }

  .Our-Services {
    .card-title {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .Our-Services {
    .card-image {
      width: auto;
      height: auto;
    }
  }

  .title {
    margin: 20px !important;
  }

  .moments {
    h3 {
      font-size: 43px;
      font-weight: 600;
      line-height: 46px;
      width: 75%;
    }
  }

  .user-body {
    width: 135px;
    height: 135px;
    right: 5rem;
  }

  .form-detail {
    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      margin-top: 14px;
      line-height: 23.2px;
    }
  }

  .testimonial-card {
    padding: 25px 20px;
  }

  ::ng-deep {
    .testi-sec .owl-stage-outer {
      padding-bottom: 8rem !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
  // .main_form {
  //   height: 100%;
  // }

  .booking-forms {
    width: 100%;
    padding: 20px 26px 33px 26px;
  }

  .destination {
    width: 100%;
    padding: 10px 0 0 20px;
  }

  .booking-forms {
    ul {
      justify-content: center;
    }

    li {
      button {
        font-size: 16px;
        font-weight: 500;
        width: 100px;
        padding: 8px 0.344px 4px 3px;
      }
    }
  }

  .margin-top {
    margin-top: 10px;
  }

  .vehicle-image-detail {
    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    h4 {
      font-size: 1.9rem;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      margin-top: 25px;
    }
  }

  .moments {
    height: 100%;
    margin: 40px 0;
    padding: 10px 0 20px;

    h3 {
      font-size: 1.92rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;
      width: 100%;
      color: #fff;
    }
  }

  .title {
    margin: 0px 0 20px !important;

    h3 {
      font-size: 3rem;
    }
  }

  .vehicle-image {
    margin: 30px 0;
    height: auto;
    width: auto;
  }

  .Our-Services {
    .card-image {
      width: auto;
      height: auto;
    }
  }

  .width_100 {
    width: 100%;
  }

  ::ng-deep {
    .carousel.pointer-event {
      display: flex;
    }
  }

  .who-are {
    margin-top: 10px;
  }

  .Our-Services {
    .card-title {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .buttons {
    margin-top: 20px;
  }

  .user-body {
    width: 105px;
    height: 105px;
    right: 41%;
    margin-top: -36px;
    left: 34%;
  }

  ::ng-deep {
    .testi-sec {
      .owl-stage-outer {
        padding-bottom: 4rem !important;
      }
    }
  }

  .testimonial-card {
    background: #fff6de;
    padding: 20px 20px;

    h4 {
      font-size: 23px;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .fixed-width {
    margin: auto;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .form-detail {
    h2 {
      font-size: 23px;
      line-height: 1.1;
    }
    p {
      font-size: 16px;
    }
  }
  // .main_form {
  //   height: 100%;
  // }
  .card-main {
    flex-wrap: wrap;
  }
  .form-detail {
    max-width: 100%;
  }

  .booking-forms {
    width: 100%;
    padding: 20px 26px 33px 26px;
  }

  .destination {
    width: 100%;
    padding: 10px 0 0 20px;
  }

  .booking-forms {
    ul {
      justify-content: center;
    }

    li {
      button {
        font-size: 16px;
        font-weight: 500;
        width: 100px;
        padding: 8px 0.344px 4px 3px;
      }
    }
  }

  .margin-top {
    margin-top: 10px;
  }

  .vehicle-image-detail {
    h2 {
      font-weight: 700;
      font-size: 2rem;
    }

    h4 {
      font-size: 1.9rem;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      margin-top: 25px;
    }
  }

  .moments {
    height: 100%;
    margin: 40px 0;
    padding: 10px 0 20px;

    h3 {
      font-size: 1.92rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;
      width: 100%;
      color: #fff;
    }
  }

  .flex-revrese {
    flex-direction: column-reverse;
  }

  .title {
    margin: 0px 0 20px !important;

    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 15px;
      width: 100%;
    }
  }
  .container-fluid.advertisers-service-sec.pt-5.pb-5 {
    padding-top: 0px !important;
  }

  .vehicle-image {
    margin: 30px 0;
    height: auto;
    width: auto;
  }

  .Our-Services {
    .card-image {
      width: auto;
      height: auto;
    }
  }

  ::ng-deep {
    .carousel.pointer-event {
      display: flex;
    }
  }

  .who-are {
    margin-top: 10px;
  }

  .Our-Services {
    .card-title {
      font-size: 23px;
    }

    p {
      font-size: 15px;
    }
  }

  .buttons {
    margin-top: 20px;
  }

  .user-body {
    width: 105px;
    height: 105px;
    right: 41%;
    margin-top: 0;
    left: 34%;
  }

  ::ng-deep {
    .testi-sec {
      .owl-stage-outer {
        padding-bottom: 4rem !important;
      }
    }
  }

  .testimonial-card {
    background: #fff6de;
    padding: 20px 20px;

    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-top: 30px;
    }
  }

  .fixed-width {
    margin: auto;
  }
}
