<div class="container">
  <section class="Term-condition d-none" id="term">
    <div class="title-term">
      <h3>Terms & Conditions</h3>
    </div>
    <div class="container-fluid">
      <div class="cards-detail-content">
        <div class="sub-title">
          <h5>Introduction</h5>
          <p>
            Welcome to Terminal Transit. These Terms and Conditions govern the
            use of our airport transfer services and our website. By booking a
            service with us, you agree to be bound by these Terms and Conditions
            and any amendments made thereto
          </p>
        </div>
        <div class="sub-title">
          <h5>Services Provided</h5>
          <p>
            Terminal Transit offers premier airport transfer services. Our
            services include but are not limited to pick-up, drop-off, and meet
            and greet services, subject to availability and can be booked via
            our website, phone, or email.
          </p>
        </div>
        <div class="sub-title">
          <h5>Vehicle Capacity</h5>
          <p>
            When booking a service with Terminal Transit, it is important to
            select a vehicle that accommodates the number of passengers and the
            luggage requirements. The following vehicle options are available:
          </p>
          <ul>
            <li>- **Mercedes-Benz V Class:** Up to 7 passengers and 7 bags</li>
            <li>- **Mercedes-Benz Vito:** Up to 8 passengers and 7 bags.</li>
            <li>- **Mercedes-Benz E Class:** Up to 4 passengers and 3 bags.</li>
            <li>- **Audi A6:** Up to 4 passengers and 3 bags</li>
            <li>- **Lexus Car:** Up to 4 passengers and 3 bags</li>
          </ul>
          <p>
            Please ensure your booking accurately reflects your needs. If your
            party exceeds the specified limits, you may need to book additional
            vehicles.
          </p>
        </div>
        <div class="sub-title">
          <h5>Booking and Cancellation</h5>
          <ul>
            <li>
              - **Bookings** must be made at least 4 hours in advance.
              Confirmation will be provided via email or SMS
            </li>
            <li>
              - **Cancellations** must be made at least 24 hours before the
              scheduled pick-up time to avoid charges
            </li>
            <li>- **Mercedes-Benz E Class:** Up to 4 passengers and 3 bags.</li>
            <li>- **Audi A6:** Up to 4 passengers and 3 bags</li>
            <li>- **Lexus Car:** Up to 4 passengers and 3 bags</li>
          </ul>
          <p>
            No-shows and cancellations made less than 24 hours before the
            scheduled pick-up time will be charged at 100% of the booking price.
          </p>
        </div>

        <div class="sub-title">
          <h5>Payments and Refunds</h5>
          <ul>
            <li>
              - Payments are required in full at the time of booking via
              [accepted payment methods].
            </li>
            <li>
              - Refunds for cancellations made in accordance with our
              cancellation policy will be processed promptly.
            </li>
          </ul>
        </div>
        <div class="sub-title">
          <h5>Luggage Policy</h5>
          <p>
            Luggage capacity varies by vehicle type as outlined in the Vehicle
            Capacity section. Additional or oversized luggage must be specified
            at the time of booking and may incur extra charges.
          </p>
        </div>
        <div class="sub-title">
          <h5>Passenger Conduct</h5>
          <p>
            Passengers are expected to conduct themselves in a respectful
            manner. We reserve the right to refuse service or terminate a ride
            without a refund if a passenger behaves in a manner that is
            disruptive, dangerous, or in violation of any laws. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Liability</h5>
          <p>
            Terminal Transit is not liable for delays caused by traffic
            conditions, weather, mechanical failure, or any circumstances beyond
            our control. While we strive to ensure timely arrivals, we cannot
            guarantee specific arrival times. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Amendments to Terms and Conditions</h5>
          <p>
            We reserve the right to amend these Terms and Conditions at any time
            without prior notice. Your continued use of our services after any
            changes constitutes your acceptance of the new Terms and
            Conditions. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Governing Law</h5>
          <p>
            These Terms and Conditions are governed by the laws of Barcelona,
            Spain. Disputes arising from these terms will be subject to the
            exclusive jurisdiction of the courts of Barcelona, Spain. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Contact Us</h5>
          <p>
            For questions or concerns regarding these Terms and Conditions,
            please contact us at:
          </p>
          <p>[Your Contact Information]</p>
          <p>
            These Terms and Conditions were last updated on [Date]. Ensure to
            replace placeholders with your actual details ([Your Contact
            Information], [Date]). It's recommended to have this document
            reviewed by a legal professional to ensure it fully complies with
            the laws of Spain and meets your business needs.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="Term-condition" id="term">
    <div class="title-term">
      <h3>Privacy Policy</h3>
    </div>
    <div class="container-fluid">
      <div class="cards-detail-content">
        <div class="sub-title">
          <h5>Introduction</h5>
          <p>
            Terminal Transit is committed to protecting the privacy of our
            customers. This Privacy Policy outlines how we collect, use,
            protect, and handle personal information provided by users of our
            airport transfer service and website. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Information Collection</h5>
          <p>
            When booking a service or interacting with our site, you may be
            asked to enter your name, email address, phone number, payment
            details, and travel details. We collect information when you place a
            booking, subscribe to a newsletter, respond to a survey or marketing
            communication, surf the website, or use certain other site
            features. 
          </p>
        </div>

        <div class="sub-title">
          <h5>Use of Information</h5>
          <p>The information we collect from you may be used to:</p>
          <ul>
            <li>
              Personalize your experience and respond to your individual needs
            </li>
            <li>
              - Improve our website offerings based on the information and
              feedback we receive from you
            </li>
            <li>- Improve customer service and support needs</li>
            <li>- Process transactions securely</li>
            <li>
              - Administer a contest, promotion, survey, or other site feature
            </li>
            <li>
              - Send periodic emails regarding your order or other products and
              services
            </li>
          </ul>
        </div>

        <div class="sub-title">
          <h5>Google Maps, Google Ads, and Google Analytics</h5>
          <p>The information we collect from you may be used to:</p>
          <ul>
            <li>
              - **Google Maps** is utilized for calculating distances and
              providing accurate location information
            </li>
            <li>
              - **Google Ads** helps us in directing traffic to our site through
              targeted advertisements.
            </li>
            <li>
              - **Google Analytics** is employed to understand how our customers
              use the website, enabling us to improve our services and user
              experience.
            </li>
          </ul>
        </div>

        <div class="sub-title">
          <h5>Payment Processing</h5>
          <p>
            We use **Stripe** for secure online payment processing. Stripe
            processes your payment information without storing any financial
            details on our servers.
          </p>
        </div>

        <div class="sub-title">
          <h5>Data Protection</h5>
          <p>
            We implement a variety of security measures to maintain the safety
            of your personal information. Your personal information is contained
            behind secured networks and is only accessible by a limited number
            of persons who have special access rights to such systems, and are
            required to keep the information confidential. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Cookies</h5>
          <p>
            Cookies are small files that a site or its service provider
            transfers to your computer's hard drive through your Web browser (if
            you allow) that enables the site's or service provider's systems to
            recognize your browser and capture and remember certain information.
          </p>
        </div>
        <div class="sub-title">
          <h5>Data Sharing and Disclosure</h5>
          <p>
            We do not sell, trade, or otherwise transfer to outside parties your
            personally identifiable information. This does not include trusted
            third parties who assist us in operating our website, conducting our
            business, or servicing you, so long as those parties agree to keep
            this information confidential. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Your Rights</h5>
          <p>
            You have the right to access, correct, delete, or limit the use of
            your personal information. You can also opt-out of receiving
            promotional communications from us at any time by following the
            unsubscribe instructions in those emails. 
          </p>
        </div>
        <div class="sub-title">
          <h5>Changes to This Privacy Policy</h5>
          <p>
            We reserve the right to update or change our Privacy Policy at any
            time. We will post those changes on this page, and/or update the
            Privacy Policy modification date below.
          </p>
        </div>

        <div class="sub-title">
          <h5>Contacting Us</h5>
          <p>
            If there are any questions regarding this Privacy Policy, you may
            contact us using the information below
          </p>
          <p>[Your Contact Information</p>
          <p>This policy was last modified on [Date].</p>
          <p>
            Replace placeholders like [Your Contact Information] and [Date] with
            your actual details. Remember, this template is a general guide and
            should be tailored to fit your specific operational and legal
            requirements. Consulting with a legal expert ensures that your
            privacy policy complies fully with all applicable laws and
            regulations.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
