<section class="Term-condition" id="term">
  <div class="title-term">
    <h3>Terms & Conditions</h3>
  </div>
  <div class="container-fluid">
    <div class="cards-detail-content">
      <div class="sub-title">
        <h5>Introduction</h5>
        <p>
          Welcome to Terminal Transit. These Terms and Conditions govern the use
          of our airport transfer services and our website. By booking a service
          with us, you agree to be bound by these Terms and Conditions and any
          amendments made thereto
        </p>
      </div>
      <div class="sub-title">
        <h5>Services Provided</h5>
        <p>
          Terminal Transit offers premier airport transfer services. Our
          services include but are not limited to pick-up, drop-off, and meet
          and greet services, subject to availability and can be booked via our
          website, phone, or email.
        </p>
      </div>
      <div class="sub-title">
        <h5>Vehicle Capacity</h5>
        <p>
          When booking a service with Terminal Transit, it is important to
          select a vehicle that accommodates the number of passengers and the
          luggage requirements. The following vehicle options are available:
        </p>
        <ul>
          <li>- **Mercedes-Benz V Class:** Up to 7 passengers and 7 bags</li>
          <li>- **Mercedes-Benz Vito:** Up to 8 passengers and 7 bags.</li>
          <li>- **Mercedes-Benz E Class:** Up to 4 passengers and 3 bags.</li>
          <li>- **Audi A6:** Up to 4 passengers and 3 bags</li>
          <li>- **Lexus Car:** Up to 4 passengers and 3 bags</li>
        </ul>
        <p>
          Please ensure your booking accurately reflects your needs. If your
          party exceeds the specified limits, you may need to book additional
          vehicles.
        </p>
      </div>
      <div class="sub-title">
        <h5>Booking and Cancellation</h5>
        <ul>
          <li>
            - **Bookings** must be made at least 4 hours in advance.
            Confirmation will be provided via email or SMS
          </li>
          <li>
            - **Cancellations** must be made at least 24 hours before the
            scheduled pick-up time to avoid charges
          </li>
          <li>- **Mercedes-Benz E Class:** Up to 4 passengers and 3 bags.</li>
          <li>- **Audi A6:** Up to 4 passengers and 3 bags</li>
          <li>- **Lexus Car:** Up to 4 passengers and 3 bags</li>
        </ul>
        <p>
          No-shows and cancellations made less than 24 hours before the
          scheduled pick-up time will be charged at 100% of the booking price.
        </p>
      </div>

      <div class="sub-title">
        <h5>Payments and Refunds</h5>
        <ul>
          <li>
            - Payments are required in full at the time of booking via [accepted
            payment methods].
          </li>
          <li>
            - Refunds for cancellations made in accordance with our cancellation
            policy will be processed promptly.
          </li>
        </ul>
      </div>
      <div class="sub-title">
        <h5>Luggage Policy</h5>
        <p>
          Luggage capacity varies by vehicle type as outlined in the Vehicle
          Capacity section. Additional or oversized luggage must be specified at
          the time of booking and may incur extra charges.
        </p>
      </div>
      <div class="sub-title">
        <h5>Passenger Conduct</h5>
        <p>
          Passengers are expected to conduct themselves in a respectful manner.
          We reserve the right to refuse service or terminate a ride without a
          refund if a passenger behaves in a manner that is disruptive,
          dangerous, or in violation of any laws. 
        </p>
      </div>
      <div class="sub-title">
        <h5>Liability</h5>
        <p>
          Terminal Transit is not liable for delays caused by traffic
          conditions, weather, mechanical failure, or any circumstances beyond
          our control. While we strive to ensure timely arrivals, we cannot
          guarantee specific arrival times. 
        </p>
      </div>
      <div class="sub-title">
        <h5>Amendments to Terms and Conditions</h5>
        <p>
          We reserve the right to amend these Terms and Conditions at any time
          without prior notice. Your continued use of our services after any
          changes constitutes your acceptance of the new Terms and Conditions. 
        </p>
      </div>
      <div class="sub-title">
        <h5>Governing Law</h5>
        <p>
          These Terms and Conditions are governed by the laws of Barcelona,
          Spain. Disputes arising from these terms will be subject to the
          exclusive jurisdiction of the courts of Barcelona, Spain. 
        </p>
      </div>
      <div class="sub-title">
        <h5>Contact Us</h5>
        <p>
          For questions or concerns regarding these Terms and Conditions, please
          contact us at:
        </p>
        <p>[Your Contact Information]</p>
        <p>
          These Terms and Conditions were last updated on [Date]. Ensure to
          replace placeholders with your actual details ([Your Contact
          Information], [Date]). It's recommended to have this document reviewed
          by a legal professional to ensure it fully complies with the laws of
          Spain and meets your business needs.
        </p>
      </div>
    </div>
  </div>
</section>
