<form [formGroup]="form" (submit)="Submit()">
  <div class="modal-body">
    <div class="input-groups">
      <input type="email" formControlName="email" placeholder="Enter your email">
      <input type="text" formControlName="name" placeholder="Enter Full Name">
      <!-- <input type="text" formControlName="contactNumber" placeholder="Enter Contact Number" > -->
      <p-inputMask mask="+34 999 999 999" formControlName="contactNumber"
        placeholder="Enter Contact Number"></p-inputMask>

    </div>
  </div>
  <div class="modal-footer  justify-content-center border-0">
    <div class="buttons search">
      <button type="submit" class="cta-01">
        <span class="icon d-flex">Confirm Booking</span>
      </button>
    </div>
  </div>
</form>